<div class="jumbotron">
  <h1>ChoreScore</h1>

  <p class="lead">
    <h2>Pick User</h2>
        userId
        {{ userId }}
        <label ng-repeat="user in users">
            <input type="radio" name="pageSet" ng-model="userId" ng-checked="model" ng-value="user.id" />{{user.username}}
        </label> 
  </p>
    <section id="todoapp">
        
        <header id="header">
            <h1>Chores</h1>
<h3>
                <li ng-repeat="score in resultado.results" >
                    
                    {{ score.user}} : {{ score.points }} / {{ score.total }}
                </li>
</h3>
            <form id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
            </form>
        </header>
        <section id="main" ng-show="chores.length" ng-cloak>
            <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <ul id="todo-list">
                <li ng-repeat="chore in chores" >
                    <div class="view">
                        <label ng-click="check(chore)">{{chore.description}}</label>
                        <i class="icon-star-empty" ng-click="score(chore, 1)"></i>
                        <i class="icon-star-half" ng-click="score(chore, 2)"></i>
                        <i class="icon-star" ng-click="score(chore, 3)"></i>
                        <i class="icon-thumbs-up" ng-click="score(chore, 3)"></i>
                    </div>
                    <form ng-submit="doneEditing(chore)">
                        <input class="edit" ng-model="chore.title" todo-blur="doneEditing(chore)" todo-focus="chore == editedTodo">
                    </form>
                </li>
            </ul>
<h3>
                <li ng-repeat="score in resultado.results" >
                    
                    {{ score.user}} : {{ score.points }} / {{ score.total }}
                </li>
</h3>
        </section>
        <footer id="footer" ng-show="chores.length" ng-cloak>
        </footer>
    </section>

</div>

